# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,nuspec,targets}]
indent_style = space
indent_size = 2

# Mark I18n.cs as generated to avoid useless suggestions for a better
# experience with Pathos' translation class builder.
[i18n.cs]
generated_code = true

# C# Formatting Stuff
[*.cs]

# Organize Using
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
csharp_using_directive_placement=outside_namespace:error

# Make namespaces file scoped.
csharp_style_namespace_declarations = file_scoped:silent

# SMAPI Stuff
dotnet_diagnostic.AvoidImplicitNetFieldCast.severity=error
dotnet_diagnostic.AvoidNetField.severity=error
dotnet_diagnostic.AvoidObsoleteField.severity=warning

# New Lines
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = one_less_than_current
csharp_indent_block_contents = true
csharp_indent_braces = false
